RewriteEngine On

# Regola per prodotti con nome SEO-friendly
RewriteRule ^products/([a-zA-Z0-9-]+)$ product.php?titolo=$1 [L]
RewriteRule ^catalog/([a-zA-Z0-9-]+)$ catalog.php?categoria=$1 [L]
RewriteRule ^sitemap\.xml$ /public/generate_sitemap.php [L]

# Regola per URL pulito con slug
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ index.php?slug=$1 [L,QSA]

# Reindirizza la radice del sito alla home page
RewriteRule ^$ index.php [L]

# Regole generali per riscrivere gli URL in modo che puntino a file PHP
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Regola per gestire gli errori 404
ErrorDocument 404 /error.php
